<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>615153444707-goc68pf7sinrnavgl1v6eu09ob2clk9b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.615153444707-goc68pf7sinrnavgl1v6eu09ob2clk9b</string>
	<key>API_KEY</key>
	<string>AIzaSyBfyoy31RxVGmzjood3Lz5NoMDoNo84afI</string>
	<key>GCM_SENDER_ID</key>
	<string>615153444707</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nishchal.Pop-A-Task</string>
	<key>PROJECT_ID</key>
	<string>pop-a-task</string>
	<key>STORAGE_BUCKET</key>
	<string>pop-a-task.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:615153444707:ios:858669e19a9b4bcc7a9556</string>
</dict>
</plist>
